#panel{
    background-color: #262646;
    border-radius: 50px;
    width: 70vw;
    height: 70vh;
    position: absolute;
    left: 15%;
    top: 15%;
    color: white;
    box-shadow: 0px 0px 30px 0px rgba(255, 63, 255, 0.5);
    font-family: Verdana, sans-serif;
}

#states{
    text-align: center;
    color: grey;
}

#left{
    border-radius: 50px 0px 0px 0px;
}


#states form{
    margin: 0;
}

#right{
    border-radius: 0px 50px 0px 0px;
}

#states form div button{
    border-radius: inherit;
    font-family: inherit;
    margin:inherit;
    padding: inherit;
    background-color: inherit;
    border: none;
    color:inherit;
    cursor:pointer;
    width: 100%;
}

#noFood{
    font-size: 2.5vh;
    width: 100%;
    float: left;
    margin-top: 0;
    margin-left: 1vw;
}

#states div{
    float: left;
    width: 33.3%;
    transition: 0.1s;
    border-bottom: 5px solid rgb(122, 28, 122);
}

#states div:hover{
    background-color: #141424;
    transition: 0.1s;
    cursor: pointer;
}

#states div h1{
    text-align: center;
    margin-top: 5vh;
    display: inline-block;
    padding-top: 1vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 1vh;
    font-size: 3.5vh;
}

#orderBox{
    margin-top: 5vh;
    font-size: 1.7vh;
}
.active{
    color: white;
    background-color: #1c1c33;
}

.active:hover{
    background-color: #1c1c33 !important;
}

#data{
    text-align: center;
}

.left-mid{
    padding-left: 1vw;
    float: left;
}

.left-mid-link{
    padding-left: 0.5%;
    float: left;
}

a{
    color: white;
    text-decoration: none;
}

#data h1{
    display: inline-block;
    padding: 1vh 3vh 1vh 3vh;
    border-radius: 100px;
    background-color: #1c1c33;
    font-size: 2.5vh;
}
ul{
    width: 100%;
    float: left;
    flex-wrap: wrap;
    display: flex;
}

li{
    display: inline;
    background-color: #1c1c33;
    padding: 5vh 5vh 5vh 5vh;
    height: 100%;
    margin-right: 2vh;
    margin-bottom: 2vh;
    border-radius: 10px;
}

.centered{
    text-align: center;
}

li:last-child{
    background-image: linear-gradient(to right, 
        rgba(255, 255, 255, 0), 
        #262646
    90%);
}

#bill{
    position:absolute;
    border: none;
    border-radius: 20px;
    background-color: #5f0047;
    font-family: Verdana, sans-serif;
    font-size: large;
    text-align: center;
    color: white;
    left: 0;
    right: 0;
    margin-left: 40%;
    margin-right: 40%;
    padding: 2vh;
    bottom: 5%;
}

#btnHolder{
    position: absolute;
    bottom: 2vh;
    width: 100%;
    text-align: center;
}

#orderButtonBox{
    bottom: 2vh;
    width: 100%;
    text-align: center;
}

#btnHolder a{
    display: inline-block;
    border-radius: 20px;
    padding: 2vh;
    font-family: Verdana, sans-serif;
    font-size: 3vh;
}

#orderButtonBox button{
    display: inline-block;
    border-radius: 20px;
    padding: 2vh;
    font-family: Verdana, sans-serif;
    font-size: 3.5vh !important;
    color: white;
    border: none;
    margin-bottom: 4vh;
}

#btnHolder button{
    display: inline-block;
    border-radius: 20px;
    padding: 2vh;
    font-family: Verdana, sans-serif;
    font-size: 3.5vh !important;
    color: white;
    border: none;
}

pre{
    text-align: center;
    font-size: 3vh;
    background-color: #141424dc;
    border-radius: 999px;
    display: inline-block;
    margin: 0 auto;
    padding: 0 1vh 0 1vh;
}

#backBtn{
    background-color: #1c1c33;
    font-size: 5vh !important;
    border-radius: 100px !important;
    padding: 0vh 2vh 0.5vh 1.5vh !important;
}

#okBtn{
    margin-left: 38%;
    margin-right: 38%;
    background-color: #5f0047;
    padding: 1vh 3vh 1.5vh 3vh !important;
    visibility: hidden;
}

#billBtn{
    background-color: #1c1c33;
    border-radius: 100px !important;
    padding: 1.2vh 1vh 1.5vh 1vh !important;
}

#backBtn:active{
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#orderText{
    text-align: center;
}

#overflowList{
    overflow: hidden;
    overflow-y: scroll;
    max-height: 20vh;
    padding-top: 1vh;
}

.scrollable{
    overflow: hidden;
    overflow-y: scroll;
}

#overflowList li{
    margin-bottom: 3vh !important;
}

@media (min-aspect-ratio: 22/10) {
    
}