body{
    background-color: #0f0f1b;
    margin: 0; 
    height: 100%; 
    overflow: hidden/*
    background-image: url("../img/floorPlan2.png");
    background-repeat: no-repeat;
    background-size: cover;*/
}

.bgimg{
    width: 100%;
}

ul{
    margin: 0;
}

nav{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 2vh;
    background-color: #1c1c33;
    padding: 15px 20px 15px 20px;
    font-family: Arial, sans-serif;
    border-radius: 50px;
}

nav form a{
    color: white;
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    font-size: 130%;
    vertical-align: middle;
}

nav form {
    float: right;
    margin: 0;
}

nav a{
    color: white;
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    font-size: 130%;
    vertical-align: middle;
}

nav a img{
    max-height: 5vh;
    content: url("../img/user.png");
}

.wide-hidden{
    visibility: hidden;
    text-align: left;
    position: absolute;
    color: white;
    font-size: 2vh;
    padding-top: 40vh;
}

@media (min-aspect-ratio: 22/9) {
    .wide-hidden{
        visibility: visible;
    }
}

#myImage {
    height: 100vh;
    background-image:url("../img/floorPlan.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

#myImage a{
    display:block; position:absolute; 
}

.reserved{
    background-image: repeating-linear-gradient(-45deg, transparent, Transparent 10px, rgb(242, 255, 63) 30px);
    outline: 4px solid rgb(242, 255, 63);
    outline-offset: -4px !important;
}

.reserved:hover{
    box-shadow: 0px 0px 30px 5px rgb(242, 255, 63) !important;
}

.taken{
    background-image: repeating-linear-gradient(-45deg, transparent, Transparent 10px, rgb(255, 63, 63) 30px);
    outline: 4px solid rgb(255, 63, 63);
    outline-offset: -4px !important;
}

.taken:hover{
    box-shadow: 0px 0px 30px 5px rgb(255, 63, 63) !important
}

#myImage a:hover{
    box-shadow: 0px 0px 30px 5px rgb(255, 63, 255);
    transition: 0.3s;
}

a#nm1 {
    top:50%; left:50%; width:24.4vh; height:11.9vh;
    margin-left: -94.4vh;
    margin-top: -43.5vh;
    transition: 0.3s;
}

a#nm2 {
    top:50%; left:50%; width:13.7vh; height:23vh;
    margin-left: -60.4vh;
    margin-top: 26.1vh;
    transition: 0.3s;
}

a#nm3 {
    top:50%; left:50%; width:13.7vh; height:23vh;
    margin-left: -32.2vh;
    margin-top: 26.2vh;
    transition: 0.3s;
}

a#nm4 {
    top:50%; left:50%; width:13.7vh; height:23vh;
    margin-left: -3.9vh;
    margin-top: 26.1vh;
    transition: 0.3s;
}

a#nm5 {
    top:50%; left:50%; width:13.7vh; height:23vh;
    margin-left: 24.4vh;
    margin-top: 26.1vh;
    transition: 0.3s;
}

a#nm6 {
    top:50%; left:50%; width:13.7vh; height:23vh;
    margin-left: 52.5vh;
    margin-top: 26.1vh;
    transition: 0.3s;
}

a#nm7 {
    top:50%; left:50%; width:13.7vh; height:23vh;
    margin-left: 80.8vh;
    margin-top: 26.1vh;
    transition: 0.3s;
}

a#nm8 {
    top:50%; left:50%; width:24.4vh; height:11.9vh;
    margin-left: 70.2vh;
    margin-top: -43.5vh;
    transition: 0.3s;
}

a#tm1 {
    top:50%; left:50%; width:14vh; height:13.6vh;
    margin-left: -39.2vh;
    margin-top: -4.6vh;
    transition: 0.3s;
    transform: rotate(45deg);
}

a#tm2 {
    top:50%; left:50%; width:14vh; height:13.6vh;
    margin-left: 1.65vh;
    margin-top: -4.6vh;
    transition: 0.3s;
    transform: rotate(45deg);
}

a#tm3 {
    top:50%; left:50%; width:14vh; height:13.6vh;
    margin-left: 40.95vh;
    margin-top: -4.4vh;
    transition: 0.3s;
    transform: rotate(45deg);
}

a#tm4 {
    top:50%; left:50%; width:14vh; height:13.6vh;
    margin-left: 78.15vh;
    margin-top: -4.45vh;
    transition: 0.3s;
    transform: rotate(45deg);
}

#myImage a span {
    display:none;
}

#type0{
    background-image: url("../img/menu/0.png");
}

#type1{
    background-image: url("../img/menu/1.png");
}

#type2{
    background-image: url("../img/menu/2.png");
}

#type3{
    background-image: url("../img/menu/3.png");
}

#type4{
    background-image: url("../img/menu/4.png");
}

#type5{
    background-image: url("../img/menu/5.png");
}

#type6{
    background-image: url("../img/menu/6.png");
}

.menuImage{
    background-repeat: no-repeat;
    background-size: 10vh;
    background-position: center;
    max-height: 5vh;
    border: 5px solid #0f0f1b;
    background-color: #262646;
}

ul{
    width: 95% !important;
}

li{
    margin-bottom: 8vh !important;
}

li p{
    text-align: center;
    background-color: #262646;
    margin-top: -6.5vh;
    padding: 0 5px 0 05px;
}

li div{
    position: absolute;
    margin-top: 8vh;
    align-items: center;
    margin-left: -5vh;
    font-size: 1.8vh;
}

li div p{
    background-color: transparent;
    margin-top: 0.5vh;
    display: inline-block;
}

li input{
    border-radius: 5px;
    float: right;
    margin-top: 0.5vh;
    background-color: #0f0f1b;
    color: white;
    border: none;
    font-size: large;
    width: max-content;
    margin-left: -2vh;
    width: 40%;
}

select{
    text-align: center;
    border-radius: 5px;
    background-color: #0f0f1b;
    color: white;
    border: none;
    font-size: large;
}

#tableSelectBox{
    align-items: center;
    text-align: center;
}

.billPanel{
    text-align: center;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background: rgb(150, 35, 150);
    border-radius: 10px;
    border-right: 4px #262646 solid;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 5vh; 
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 5vh;
}

.billPanel h2 table{
    margin-left: auto;
    margin-right: auto;
}

.billPanel span{
    display: block;
}

.billPanel table{
    margin-bottom: 2vh;
}

.billPanel table td{
    padding-left: 2vh;
    padding-right: 2vh;
}

.billPanel button{
    background-color: #3fff9f;
    color: white;
    border:none;
    margin-bottom: 3vh;
    font-size: 4vh !important;
    border-radius: 100px !important;
    padding: 0vh 2vh 0.5vh 1.5vh !important;
    transition: 0.3s;
}

.billPanel button:hover{
    box-shadow: 0px 0px 30px 5px #9fff3f ;
}